/* ------GLOBAL STYLES------ */


/* ----RESET & VARIABLES----- */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Golos+Text:wght@400;600&display=swap');

:root {
    /* colors */
    --gold: #e9b620;
    --royal-blue: #1C3564;
    --secondary-blue: #1774BB;
    --black: #231F20;
    /* typography */
    font-family: 'Baskervville', serif, 'Golos Text', sans-serif;
    font-size: 62.5%;
    --header: 'Golos Text';
    --body-text: 'Baskervville';
}

html {
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    /* background-image: linear-gradient(to bottom, #c1c9e5, #ffffff); */
}

*,
*:before,
*:after,
*:hover,
*:focus,
*:active {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--header);
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: bold;
}

h2 {
    margin: 3rem 0;
    font-family: var(--header);
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: bold;
}

h3 {
    margin: 0 0 1.5rem 0;
    font-family: var(--header);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

h4 {
    margin: 0 0 1.5rem 0;
    font-family: var(--header);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

p {
    margin-bottom: 2rem;
    font-family: var(--body-text);
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: white;
}