#nav {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    background-color: var(--royal-blue);
}

#nav-links {
    display: flex;
    justify-content: flex-end;
    font-family: var(--header);
    min-width: 50vw;
}

#header {
    height: 80vh;
    clip-path: ellipse(80% 80% at 50% 20%);
    overflow: hidden;
}

video.header-video {
    position: relative;
    top: -15vh;
    width: 100%;
}


/* ----ELEMENTS & IDs (by type) */

button.contact {
    display: inline-block;
    background-color: var(--gold);
    color: white;
    height: 5rem;
    width: 22rem;
    font-size: 3rem;
    text-transform: uppercase;
    border-radius: 2.5rem;
    text-shadow: 1px 1px 1px black;
}

li.link,
a.link {
    list-style-type: none;
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}


/* ----Images & Icons---- */


/* ---Typography--- */

h1 {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: bold;
}

p.meta {
    font-size: 4rem;
    font-weight: bold;
}


/* ----CLASSES (by type)---- */

.logo-nav {
    height: 10vh;
    filter: drop-shadow(0 2px 2px black);
}